<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.javahuikao.mapper.StudentAnswersMapper">
    <select id="getRealPersonCnt"  resultType="java.lang.Integer">
        select COUNT(*) from student_answers where exam_id=#{examId} and status!='缺考'
    </select>

    <select id="getPrePersonCnt"  resultType="java.lang.Integer">
        select COUNT(*) from student_answers where exam_id=#{examId}
    </select>

    <!--  学生进入考试  -->
    <update id="beginExam">
        UPDATE student_answers
        SET progress = 0, status = '正常'
        WHERE exam_id = #{examId} AND student_id = #{studentId}
    </update>

    <!-- 增加进度 -->
    <update id="incrementProgress">
        UPDATE student_answers
        SET progress = @new_progress := progress + 1
        WHERE exam_id = #{examId} AND student_id = #{studentId};

        SELECT @new_progress AS progress;
    </update>

    <!-- 减少进度 -->
    <update id="decrementProgress" parameterType="map">
        UPDATE student_answers
        SET progress = @new_progress := progress - 1
        WHERE exam_id = #{examId} AND student_id = #{studentId};

        SELECT @new_progress AS progress;
    </update>

    <!-- 提交试卷   -->
    <update id="submitExam">
        UPDATE student_answers
        SET is_final = true
        WHERE exam_id = #{examId} AND student_id = #{studentId}
    </update>

    <!-- 出现异常行为  -->
    <update id="addAbnormalBehavior">
        UPDATE student_answers
        SET abnormal_behaviors = CONCAT(COALESCE(abnormal_behaviors, ''), ';', #{behavior}),
            status = '异常'
        WHERE exam_id = #{examId} AND student_id = #{studentId}
    </update>
</mapper>