<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javahk.mapper.StudentAnswersContentMapper">
    <insert id="submitAnswer" parameterType="com.example.javahk.entity.StudentAnswerContent">
        INSERT INTO student_answers_content
        (student_answers_id, question_id,
        <if test="textAnswer != null">text_answer,</if>
        <if test="imgAnswer != null">img_answer,</if>
        <if test="optionAnswer != null">option_answer,</if>
        )
        VALUES
        (#{studentAnswersId}, #{questionId},
        <if test="textAnswer != null">#{textAnswer},</if>
        <if test="imgAnswer != null">#{imgAnswer},</if>
        <if test="optionAnswer != null">#{optionAnswer},</if>
        )
        ON DUPLICATE KEY UPDATE
        <if test="textAnswer != null">text_answer = VALUES(text_answer),</if>
        <if test="imgAnswer != null">img_answer = VALUES(img_answer),</if>
        <if test="optionAnswer != null">option_answer = VALUES(option_answer)</if>
    </insert>
</mapper>